html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff3333;
}

#countdown {
    height: 10%;
    margin: 0;
    font-family: "Frosty";
    font-size: 2em;
    font-weight: bold;
    color: #F0F0F0;
}

#box {
    height: 90%;
    margin: 0;
}

/* #box-tabella {} */
/* #box-img {} */
/* #santa-claus-img {} */

td {
    color: white;
    border: 1px solid black;
    text-align: center;
}

.intestazione {
    width: auto;
    height: 50px;
    font-family: "Last Christmas";
    font-size: 1.3em;
    padding-left: 2px;
    background-color: #003366;
}

.cella {
    width: 90px;
    height: 80px;
    background-color: #0e813c;
}

#cella25 {
    background-image: url("img/sfondo25.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Last Christmas";
    src: url(fonts/LastChristmas.otf);
}

@font-face {
    font-family: "Frosty";
    src: url(fonts/FROSTY.TTF);
}

/* VISUALIZZAZIONE DA MOBILE ORIZZONTALE */
@media (max-width: 980px) {
    #santa-claus-img {
        width: auto;
        height: 150px;
    }

    .cella {
        width: 50px;
        height: 40px;
        background-color: #0e813c;
    }

    .intestazione {
        width: auto;
        height: 50px;
        font-family: "Last Christmas";
        font-size: 1em;
        padding-left: 2px;
    }
}

/* VISUALIZZAZIONE DA MOBILE VERTICALE */
@media (max-width: 480px) {
    #box {
        display: block;
    }

    #santa-claus-img {
        margin-top: 10px;
        float: none;
        width: 250px;
        height: auto;
    }

    .cella {
        width: 60px;
        height: 50px;
        background-color: #0e813c;
    }

    .intestazione {
        width: auto;
        height: 50px;
        font-family: "Last Christmas";
        font-size: 0.8em;
        padding-left: 2px;
    }
}
